html, body{
    min-height: 100vh;
    margin : 0;
    overflow: hidden;
    font-family: 'Courier New';
}

#title{
    display: inline-block; 
    border: solid 5px white;
    box-shadow: 0 0 0 2px black;
    border-radius: 0 20px 0 20px;
    background-color: teal;
    padding: 5px 20px 0 20px;

    font-size: 40px;
    color: white;
    box-sizing: border-box;
}

#numberOfQuestions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0 0 10px 20px;

    color: white;
    font-size: 24px;
    font-weight: bolder;

    box-sizing: border-box;
}

#questionsCounter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    box-sizing: border-box;
}

#questionsNumber{
    border: solid 2px black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;

    box-sizing: border-box;
}

#decreaseButton, #increaseButton{
    background-color: teal;      
    border: solid 2px white;        
    color: white;    
    font-family: 'Courier New';
    font-weight: bold;                             
    border-radius: 50%;          
    padding: 10px;   
    cursor: pointer;                           
    transition: background-color 0.2s; 
}

.decreaseButton:hover, .increaseButton:hover{
    background-color: gray;  
}

#categoriesContainer{
    background-color: teal;
    border: solid 2px white;
    box-shadow: 0 0 0 2px black;
    border-radius: 20px;
    height: 55vh;
    width: 80vw;
    justify-self: center;
    display: grid;
    align-items: center;

    overflow: auto;
    box-sizing: border-box;
}

.categoryItem{
    color: white;
    background-color: teal;
    border: solid 2px white;
    box-shadow: 0 0 0 2px black;
    border-radius: 10px;
    padding: 20px 0 20px 0;
    margin: 5px 30px 5px 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.categoryItem:hover{
    background-color: gray;
}

.homeButton{
    position: absolute;
    top: 25px;
    right: 20px;

    background-color: teal;      
    border: solid 2px white;    
    box-shadow: 0 0 0 2px black;;    
    color: white;    
    font-family: 'Courier New';
    font-weight: bold;                             
    border-radius: 50%;          
    padding: 10px;   
    cursor: pointer;                           
    transition: background-color 0.2s; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.homeButton:hover{
    background-color: gray;  
}