html, body{
    background: linear-gradient(to bottom,rgb(116, 5, 116),rgb(192, 110, 124));
    height: 100%;
    margin: 0;
    font-family: 'Courier New';
    overflow: hidden;
}


.mainContainer{
    display: flex;  
    flex-direction: row;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 12%;              
    padding-left: 5px;       
    box-sizing: border-box;  
}

.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; 
    gap: 20px;
    justify-content: space-between; 
    padding: 20px 40px;
    box-sizing: border-box;
}

#levelImage{
    width: 100px;
    height: 100px;
    border: solid 3px white;
    box-shadow: 0 0 0 2px black;
    border-radius: 50%;
}

#groupsDisplay {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;          
    width: 100%;              
}

.groupItem {
    display: flex;
    align-items: center;               
    width: 100%;             
}

.groupImage {
    width: 60px;
    height: 60px;
    border: solid 2px white;
    box-shadow: 0 0 0 2px black;
    border-radius: 50%;
    z-index: 1;
}

.groupPoints {
    height: 40px;
    width: 40px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 0 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-5px);
}

#questionContainer {
    background-color: white;
    border: solid 2px black;
    border-radius: 15px;
    width: 100%;
    max-width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: black; 
    height: 200px;
    overflow-y: auto;
    box-sizing: border-box;
    word-break: break-word; 
    display: flex;
    justify-content: center;
    align-items: center;       
}


#optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#gameControls {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    position: sticky; 
    bottom: 20px;
}

.firstRow, .secondRow{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.optionButton{
    position: relative;
    background-color:white;      
    color: black;                 
    border: solid 2px black;                 
    border-radius: 8px;           
    padding: 20px 10px;           
    cursor: pointer;              
    font-size: 24px;   
    font-family: 'Courier New';
    font-weight: bold;
    width: 48%;
    transition: background-color 0.5s, transform 0.5s;
}

.optionButton:hover{
    background-color: gray;
    color: white;
    transform: scale(1.05);
}

.imgsContainer{
    position: absolute;
    display: flex;
    top: -25px;
    right:5px;
    gap: 5px;
    z-index: 1;
}

.imgButtonGroup{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px black;
}

#revealAnswerButton, #nextQuestionButton{
    opacity: 0;
    pointer-events: none;
    background-color: teal;      
    color: white;                 
    border: solid 2px white;   
    box-shadow: 0 0 0 2px black;              
    border-radius: 8px;           
    padding: 15px 25px;           
    cursor: pointer;              
    font-size: 20px;   
    font-family: 'Courier New';
    font-weight: bold;
    margin: 10px;
    transition: background-color 0.5s, transform 0.5s;
}

#revealAnswerButton:hover, #nextQuestionButton:hover{
    background-color: gray;  
    transform: translateY(-2px); 
}
