html, body{
    background: linear-gradient(to bottom,rgb(116, 5, 116),rgb(192, 110, 124));
    min-height: 100vh;
    margin : 0;
    overflow: hidden;
    font-family: 'Courier New';
}

.mainContainer{
  display: flex;  
  justify-content: space-around; 
}

.titles {
    display: inline-block; 
    border: solid 5px white;
    box-shadow: 0 0 0 2px black;
    border-radius: 0 20px 0 20px;
    background-color: teal;
    padding: 5px 20px 0 20px;

    font-size: 40px;
    color: white;
}

.controls{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    flex: 1;
    margin-left: 20px;
}

.createGroup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    border: solid 5px white;
    box-shadow: 0 0 0 2px black;
    padding: 30px 10px;
    background-color: teal;
    border-radius: 0 20px 0 20px;
}

#groupNameInput {
    width: 220px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Courier New';

    border: 2px solid white;
    box-shadow: 0 0 0 2px black;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.9);
    color: #333;

    outline: none;
    transition: all 0.5s ease;
}
#groupNameInput:focus {
    border-color: teal;
}

#fileButton {
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    font-weight: bold;

    border: 2px solid white;
    box-shadow: 0 0 0 2px black;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;

    cursor: pointer;
    transition: all 0.5s ease;

}

#addGroupButton, #startGameButton{
    background-color: rgba(255, 255, 255, 0.9);      
    border: solid 2px white;        
    color: teal;    
    font-family: 'Courier New';
    font-weight: bold;                             
    border-radius: 8px;          
    padding: 10px 20px;   
    cursor: pointer;                           
    transition: background-color 0.5s, transform 0.5s; 
}

#startGameButton{
    font-size: 30px;
}

#addGroupButton{
    font-size: 20px;
}

#addGroupButton:hover, #startGameButton:hover, .file-button:hover {
    background-color: gray;  
    color: white;
    transform: translateY(-2px); 
}


.groups, .levels{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    flex: 1;
}

.groupItem, .levelItem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-weight: bold;
    color:white;
    margin-bottom: 10px;
}

.groupItem:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.groupImage, .levelImg{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 2px white;
    box-shadow: 0 0 0 2px black;
}

.deleteGroupButton{
    opacity: 0;
    pointer-events: none;

    color: white;
    border: none;

    font-weight: bold;
    cursor: pointer;

}

.groupItem:hover .deleteGroupButton {
    opacity: 1;
    pointer-events: auto;
    background-color: transparent;
}




