html, body{
    min-height: 100vh;
    margin : 0;
    overflow: hidden;
    font-family: 'Courier New';
}

.mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.titles {
    display: inline-block; 
    border: solid 5px white;
    box-shadow: 0 0 0 2px black;
    border-radius: 0 20px 0 20px;
    background-color: teal;
    padding: 5px 20px 0 20px;

    font-size: 40px;
    color: white;
}

.controls{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    flex: 1;
    margin-left: 20px;
}

.createGroup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    border: solid 5px white;
    box-shadow: 0 0 0 2px black;
    padding: 30px 10px;
    background-color: teal;
    border-radius: 0 20px 0 20px;
}

#groupNameInput {
    width: 220px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Courier New';

    border: 2px solid white;
    box-shadow: 0 0 0 2px black;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.9);
    color: #333;

    outline: none;
    transition: all 0.5s ease;
}
#groupNameInput:focus {
    border-color: teal;
}

#fileButton {
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    font-weight: bold;

    border: 2px solid white;
    box-shadow: 0 0 0 2px black;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;

    cursor: pointer;
    transition: all 0.5s ease;

}

#addGroupButton, #startGameButton{
    background-color: rgba(255, 255, 255, 0.9);      
    border: solid 2px white;        
    color: teal;    
    font-family: 'Courier New';
    font-weight: bold;                             
    border-radius: 8px;          
    padding: 10px 20px;   
    cursor: pointer;                           
    transition: background-color 0.5s, transform 0.5s; 
}

#startGameButton{
    font-size: 30px;
}

#addGroupButton{
    font-size: 20px;
}

#addGroupButton:hover, #startGameButton:hover, .file-button:hover {
    background-color: gray;  
    color: white;
    transform: translateY(-2px); 
}


.groups, .levels{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    flex: 1;
}

#titlesContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

#maxGroups{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: century gothic;
    align-self:end;
}

#groupsList{
    background-color: teal;
    height: 300px;
    width: 270px;
    border: white solid 5px;
    box-shadow: 0 0 0 2px black;
    border-radius: 20px 0 0 20px;
    padding : 15px;
    overflow-y: auto;
}

#groupsList::-webkit-scrollbar {
  width: 10px;
}

/* draggable thumb */
#groupsList::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* thumb on hover */
#groupsList::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.groupItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-weight: bold;
    color:white;
    margin-bottom: 10px;
}

.levelItem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-weight: bold;
    color:white;
    margin-bottom: 10px;
}

.groupItem:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.groupItem:hover .deleteGroupButton {
    opacity: 1;
    pointer-events: auto;
    background-color: transparent;
}

.groupImage, .levelImg{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 2px white;
    box-shadow: 0 0 0 2px black;
}

.groupContent{
    display:flex;
    gap: 10px;
}

.deleteGroupButton{
    opacity: 0;
    pointer-events: none;
    padding-right: 10px;

    color: white;
    border: none;

    cursor: pointer;

}

.settingsButton{
    position: absolute;
    top: 25px;
    right: 20px;

    background-color: teal;      
    border: solid 2px white;    
    box-shadow: 0 0 0 2px black;;    
    color: white;    
    font-family: 'Courier New';
    font-weight: bold;                             
    border-radius: 50%;          
    padding: 10px;   
    cursor: pointer;                           
    transition: background-color 0.2s; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.settingsButton:hover{
    background-color: gray;  
}

#settingsPanel {
    position: fixed;
    top: 75px;
    right: 20px;

    width: 200px;
    padding: 12px;

    background-color: white;
    border: 2px solid black;
    border-radius: 8px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.25);

    display: none;
    z-index: 1000;
}

#settingsPanel h3 {
    margin: 0 0 10px;
}

#settingsPanel label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
}

#settingsPanel button {
    margin-top: 10px;
}

.colorPickers{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#bgColorPicker1, #bgColorPicker2 {
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
}

#closeSettings, #resetSettings, #groupSettings, #categorySettings {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#closeSettings:hover, #resetSettings:hover, #groupSettings:hover, #categorySettings:hover {
    color: teal;
}

#gridSettings{
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    gap: 8px;
}




