html, body{
    background: linear-gradient(to bottom,rgb(116, 5, 116),rgb(192, 110, 124));
    min-height: 100vh;
    margin : 0;
    overflow: hidden;
    font-family: 'Courier New';
}

#winnerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    color: white;
    box-sizing: border-box;
}

#winnerImg{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 0 0 2px black;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#winnerName{
    font-size: 40px;
    color: white;
    font-weight: bolder;
    box-sizing: border-box;
}

#homeSection{
    display: flex;
    justify-content: end;
    height: 15vh;
}

#homeButton{
    background-color: rgba(255, 255, 255, 0.9);      
    border: solid 2px white;      
    color: teal;    
    font-family: 'Courier New';
    font-weight: bold;                             
    border-radius: 8px;          
    padding: 10px 20px; 
    margin: 10px 10px;  
    cursor: pointer;                           
    transition: background-color 0.5s, transform 0.5s; 
    font-size: 20px;
    box-sizing: border-box;
}

#homeButton:hover {
    background-color: gray;  
    color: white;
    transform: translateY(-2px); 
}
