html, body{
    min-height: 100vh;
    margin : 0;
    overflow: hidden;
    font-family: 'Courier New';
}

#winnerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    box-sizing: border-box;
}

#winnerImg{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 0 0 2px black;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#winnerName{
    font-size: 40px;
    color: white;
    font-weight: bolder;
    box-sizing: border-box;
}

#winnerPoints{
    font-size: 30px;
    color: white;
    font-weight: bolder;
    box-sizing: border-box;
}

#homeButton{
    position: absolute;
    top: 25px;
    right: 20px;

    background-color: teal;      
    border: solid 2px white;    
    box-shadow: 0 0 0 2px black;;    
    color: white;    
    font-family: 'Courier New';
    font-weight: bold;                             
    border-radius: 50%;          
    padding: 10px;   
    cursor: pointer;                           
    transition: background-color 0.2s; 

    display: flex;
    align-items: center;
    justify-content: center;
}

#homeButton:hover{
    background-color: gray;  
}
