html, body{
    background: linear-gradient(to bottom,rgb(116, 5, 116),rgb(192, 110, 124));
    min-height: 100vh;
    margin : 0;
    overflow: hidden;
    font-family: 'Courier New';
}

#mainContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    box-sizing: border-box;
}

#groupsContainer{
    display: flex;
    flex-direction: row;
    height: 30vh;
    min-width: 100vh;

    box-sizing: border-box;
}

#groups{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;

    box-sizing: border-box;
}

.groupItem{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    margin-top: 50px;

    box-sizing: border-box;
}

.groupImage{
    height: 70px;
    width: 70px;
    border: solid 2px white;
    box-shadow: 0 0 0 2px black;
    border-radius: 50%;
    z-index: 1;
}

.groupPoints {
    height: 50px;
    width: 50px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 0 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-27px)
}

#tableContainer{
    display: grid;
    margin:10vw; 
    gap: 2px;
    box-sizing: border-box;
}

.gridItem {
  display: flex;             
  align-items: center;      
  justify-content: center;  
  font-weight: bold;
  font-size: 24px;
  background-color: white;
  color: black;
  padding: 0.5rem;
  box-sizing: border-box;
}

.emptyCell {
  background-color: transparent;
}

#nextPageButton{
    align-self: flex-start;
    background-color: teal;      
    color: white;                 
    border: solid 2px white;   
    box-shadow: 0 0 0 2px black;              
    border-radius: 8px;           
    padding: 15px 25px;           
    cursor: pointer;              
    font-size: 20px;   
    font-family: 'Courier New';
    font-weight: bold;
    margin: 10px;
    transition: background-color 0.5s, transform 0.5s;
    box-sizing: border-box;

}

#nextPageButton:hover{
    background-color: gray;  
    transform: translateY(-2px); 
}
