body{
    background-color: rgb(99, 9, 99);
    font-family: 'Courier New';
}

#triviaTitle, #groupsTitle{
    display: inline-block; 
    border: solid 5px white;
    border-radius: 0 20px 0 20px;
    background-color: teal;
    color: white;
    padding: 5px 20px 0 20px;
    font-size: 40px;
}

#mainContainer{
    display:flex;
    gap: 200px;
    align-items: flex-start;   
}

#controls{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

#groups{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

#createGroup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    border: solid 5px white;
    padding: 30px 10px;
    background-color: teal;
    border-radius: 0 20px 0 20px;
}

.group-item{
    display: flex;
    align-items: center;
    gap: 10px;
    border: solid 5px white;
    padding: 0 20px 5px 20px;
    background-color: teal;
    border-radius: 0 20px 0 20px;
    font-weight: bold;
    color:white;
    margin-bottom: 5px;
}

.group-image{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

#startGameButton{
    background-color: white;       /* button color */
    color: teal;                 /* text color */
    border: none;                 /* remove default border */
    border-radius: 8px;           /* rounded corners */
    padding: 10px 20px;           /* space inside button */
    cursor: pointer;              /* pointer on hover */
    font-size: 30px;              /* readable text */
    margin-left: 5px;
    transition: background-color 0.5s, transform 0.5s; /* smooth hover effect */
}

#addGroupButton{
    background-color: white;       /* button color */
    color: teal;                 /* text color */
    border: none;                 /* remove default border */
    border-radius: 8px;           /* rounded corners */
    padding: 10px 20px;           /* space inside button */
    cursor: pointer;              /* pointer on hover */
    font-size: 20px;              /* readable text */
    transition: background-color 0.5s, transform 0.5s; /* smooth hover effect */
}


#addGroupButton:hover, #startGameButton:hover {
    background-color: gray;   /* darker on hover */
    color: white;
    transform: translateY(-2px);  /* slight lift effect */
}